---
import RegistroTabla from "../components/RegistroTabla.jsx";
---

<html lang="es">
  <head>
    <title>Registros | MonitorTI</title>
  </head>
  <body class="bg-gray-100 min-h-screen p-8">
    <RegistroTabla client:load />
  </body>
</html>


