---

import Layout from "../layouts/Layout.astro";
import ConfiguracionPage from "../components/Pages/Configuracion";
---

<Layout>
  <h1 class="text-2xl font-bold mb-4">Configuración</h1>
  <ConfiguracionPage client:load />
</Layout>
