---
import Layout from '../layouts/Layout.astro';
import RegistroDashboard from '../components/RegistroTabla.jsx';
import GraficoVLAN from '../components/GraficoVLAN.jsx';
---

<Layout>
  <h1>Dashboard Monitoreo TI</h1>

  <section>
    <RegistroDashboard client:load />
  </section>

  <section>
    <GraficoVLAN client:load />
  </section>
</Layout>

